body {
    background-color: blue;
    color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

h1 {
    color: antiquewhite;
    font-size: 40px;

}


p {
    font-size: 25px;
}

header {
    border-bottom: solid 3x chocolate 10px.35;
    margin: 2px;
    padding: 10px;
    color: blueviolet;
}

.chamada {
    background-color: blueviolet;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 8%;

}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 20px;
    scroll-behavior: smooth;

}

.categoria-videos::-webkit-scrollbar {
    height: 8px;
}

.categoria-video:-webkit-seroLLbar-thumb {
    background-color: blue;
    border-radius: 4px;
}

.categoria {
    padding-left: 20px;
    padding: 20px;
}